.home-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  margin-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 1/1;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  color: var(--dark);
  font-family: var(--archivo);
  font-size: var(--title);
}

.cracked {
  color: var(--yellow);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-button {
  font-family: var(--jakarta-sans);
  background-color: transparent;
  color: var(--dark);
  padding: 1rem;
  border: 4px solid var(--jade);
}
