.triviaEntry {
  background-color: var(--light);
  border: 1px solid var(--dark);
  font-family: var(--archivo);
}

.qaContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.question {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.answer {
  background-color: transparent;
  color: var(--dark);
  padding: 0.25rem 0 0 1rem;
  font-style: italic;
}

.answer.revealed {
  color: var(--yellow);
  background-color: var(--dark);
  font-style: normal;
  padding: 0 0 0.25rem 1rem;
}

.categories {
}
